@use 'config';
@use 'dashboard';


header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: chocolate;
    padding:0.4rem;
    height: 4rem;

    a {
        text-transform: capitalize;
        font-size: 2rem;
        color:#000;
    }
}

main {
    padding: 2rem;
    width: 100%;
}
